/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: 'Banny Round';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff");
}

@font-face {
  font-family: 'Banny Light Round';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Light Round"), url("../fonts/Banny-LightRound.woff") format("woff");
}

@font-face {
  font-family: 'Banny Bold Round';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Bold Round"), url("../fonts/Banny-BoldRound.woff") format("woff");
}

/*  elements */
* {
  background-repeat: no-repeat;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
}

form,
input {
  font-family: "Open Sans", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

b {
  font-weight: 700;
}

/* headings */
h1 {
  font-size: 90px;
  line-height: 129px;
}

h2,
h4 {
  font-size: 33px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 18px;
}

h3 {
  font-size: 33px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 9px;
}

/* classes */
.heading {
  font-family: "Banny Round";
  text-align: center;
  text-transform: uppercase;
  background-image: url(../images/line_yellow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 7px;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1342px;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

/* header section */
.header {
  position: relative;
  min-height: 745px;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.anchor_image {
  position: absolute;
  top: 23px;
  z-index: 1;
}

/* -- navigation menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 74px;
  min-height: 163px;
  margin: 0 auto;
  background-image: url(../images/anchor.png);
  background-repeat: no-repeat;
  background-position: center;
}

.menu__item {
  list-style: none;
  display: inline-block;
}

.addspace {
  margin-right: 202px;
}

.menu__link {
  display: inline-block;
  line-height: 93px;
  width: 11em;
}

/* -- timer */
.timer {
  height: 64px;
  width: 240px;
  color: #EDEDED;
  background: rgba(196, 196, 196, 0.3);
  position: absolute;
  left: -3px;
  top: 112px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
}

/* -- title block  */
.title {
  margin-top: 140px;
  text-align: center;
}

.title__section-title {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.title__buttons__container {
  text-align: center;
  margin-top: 28px;
  min-height: 68px;
}

.button {
  display: inline-block;
  width: 186px;
  font-weight: bold;
  text-align: center;
  border-radius: 4.65px;
  border: 1px solid #808080;
  background-color: transparent;
  color: #ffffff;
  margin: 0 18px;
  padding: 22px 0px;
  z-index: 20;
  position: relative;
}

.button--accent {
  background-color: #E8C300;
  border: 1px solid #E8C300;
}

/*  --social icons */
.socialicons {
  width: 56px;
  position: absolute;
  right: 73px;
  top: 317px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url(../images/Ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.socialicons__facebook::before,
.socialicons__twitter::before,
.socialicons__instagram::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  background-position: center;
}

.socialicons__facebook,
.socialicons__twitter,
.socialicons__instagram {
  margin-bottom: 17px;
}

.socialicons__facebook::before {
  background-image: url(../images/icon_facebook.png);
}

.socialicons__twitter::before {
  background-image: url(../images/icon_twitter.png);
}

.socialicons__instagram::before {
  background-image: url(../images/icon_instagram.png);
}

.linkdown {
  text-align: center;
  margin-top: 76px;
}

.linkdown__link {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

.linkdown__link::before {
  content: "";
  width: 38px;
  height: 38px;
  background-image: url(../images/shevron_down.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: 0px;
  z-index: 30;
}

.linkdown__link::after {
  content: "";
  width: 38px;
  height: 38px;
  padding: 10px;
  background-image: url(../images/Ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -11px;
  z-index: 40;
}

.schedule {
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 400px;
  left: -35px;
}

/* booking section */
.booking {
  min-height: 621px;
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form__container {
  width: 50%;
}

.booking__form {
  min-width: 521px;
  padding-top: 129px;
  text-align: center;
}

.booking__image {
  background-image: url(../images/about-img.png);
  position: relative;
  width: 50%;
  height: 550px;
  padding: 0;
  margin: 0;
}

.booking__image::after {
  content: "";
  width: 537px;
  height: 550px;
  position: absolute;
  background-image: url(../images/box_yellow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 70px;
  left: 290px;
  z-index: 50;
}

.booking__input,
.booking__select {
  width: 17em;
  height: 4em;
  background: #E5E5E5;
  border-radius: 4.65928px;
  border: none;
  margin: 0px 0px 9px 0px;
  padding: 0 18px 0 18px;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}

.booking__select {
  -webkit-appearance: caret;
  width: 257px;
  padding: 0px 15px;
  margin: 0px;
}

.button--submit {
  width: 82%;
  height: 55px;
  background: #E8C300;
  border-radius: 4px;
  border: none;
  display: inline-block;
}

.add--right--margin {
  margin-right: 5px;
}

.booking__contacts {
  text-align: center;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.5);
}

/* specialties section */
.specialties {
  min-height: 629px;
  min-width: 570px;
  margin: 0 auto;
  background-image: url(../images/bg_specialtys.png);
  background-repeat: no-repeat;
  background-position: center;
}

.specialties__title {
  font-size: 11px;
  padding: 40px 0px;
  letter-spacing: 0.5em;
  text-align: center;
  margin: 0px auto;
  text-transform: uppercase;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider__image {
  background-image: url(../images/img_pancake.png);
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  min-width: 50%;
  height: 537px;
  padding: 0;
  margin: 0;
  margin-top: -50px;
}

.slider__image::after {
  content: "";
  width: 537px;
  height: 537px;
  position: absolute;
  background-image: url(../images/box_yellow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 80px;
  right: 153px;
  z-index: 50;
}

.slider__textbox {
  width: 50%;
  margin-top: 100px;
  text-align: center;
}

.slider__text {
  max-width: 505px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.9;
  margin: 0px auto 18px auto;
}

.slider__text--bigger {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.slider__nav {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -45px;
}

.slider__dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 9px;
}

.slider__dot--active {
  opacity: 1;
}

/* section foodmenu */
.foodmenu {
  color: #000000;
  padding: 60px 45px 40px 45px;
}

.foodmenu__introtext {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.foodmenu__dishes-list {
  list-style: none;
  margin-top: 45px;
  text-align: center;
}

.foodmenu__dishes-item {
  cursor: pointer;
  width: 111px;
  height: 46px;
  display: inline-block;
  font-weight: bold;
  font-size: 11px;
  line-height: 46px;
  border-right: solid 1px rgba(51, 51, 51, 0.2);
}

.noborder {
  border-right: none;
}

.foodmenu__columns {
  margin-top: 46px;
  padding: 0px 0px;
  -webkit-columns: 320px 3;
          columns: 320px 3;
  -webkit-column-gap: 46px;
          column-gap: 46px;
  text-align: center;
}

.foodmenu__item {
  padding-bottom: 33px;
}

.foodmenu__item-name {
  display: inline-block;
  font-size: 18px;
  font-family: "Banny Round";
  margin-right: 8px;
}

.foodmenu__item-price {
  display: inline-block;
  font-size: 17px;
  font-family: "Banny Round";
  margin-left: 9px;
}

.foodmenu__item-description {
  display: inline-block;
  text-align: left;
  font-size: 11px;
  font-weight: normal;
  opacity: 0.5;
}

/* private-events section */
.private-events {
  background-image: url(../images/bg_private_events.png);
  background-repeat: no-repeat;
  text-align: center;
  padding: 45px 0px;
  overflow: hidden;
}

.private-events__section-title {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.private-events__image {
  position: relative;
  width: 537px;
  height: 550px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  display: inline-block;
}

.private-events__image--weddings::after {
  content: "";
  width: 537px;
  height: 300px;
  position: absolute;
  background-image: url(../images/box_yellow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 80px;
  right: 153px;
  z-index: 50;
}

.private-events__image--corporate::after {
  content: "";
  width: 537px;
  height: 300px;
  position: absolute;
  background-image: url(../images/box_yellow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 70px;
  left: 290px;
  z-index: 50;
}

.private-events__image--weddings {
  background-image: url(../images/img_weddings.png);
}

.private-events__image--corporate {
  background-image: url(../images/img_corporate.png);
}

.private-events__contacts {
  opacity: 0.5;
  margin-top: -25px;
  font-weight: normal;
}

.private-events__image-title {
  position: absolute;
  font-size: 22px;
  font-family: "Banny Round";
  text-transform: uppercase;
  padding: 25px 0 25px 15px;
  width: 429px;
  text-align: left;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 240px;
  top: 232px;
}

.private-events__image-title--weddings {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  left: -140px;
  top: 232px;
}

/* adaptive */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 7em;
  }
  .menu__link {
    width: 88px;
  }
  .booking__input,
  .booking__select {
    height: 3em;
  }
  .booking__input {
    width: 14em;
  }
  .booking__select {
    width: 16.7em;
  }
  .button {
    padding: 0px;
    line-height: 3.5em;
  }
  .button--submit {
    width: 40.3em;
    height: 3.5em;
    line-height: 3em;
  }
  .booking__image,
  .slider__image,
  .private-events__image--weddings,
  .private-events__image--corporate {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .slider__textbox {
    padding-right: 4em;
  }
  .foodmenu__dishes-list,
  .foodmenu__columns {
    margin-top: 15px;
  }
  .foodmenu__columns {
    margin-top: 46px;
    padding: 0px 0px;
    -webkit-columns: 270px 3;
    columns: 270px 3;
    -webkit-column-gap: 46px;
    column-gap: 46px;
  }
  .foodmenu__item-name {
    font-size: 1.3em;
    margin-right: 0px;
  }
  .foodmenu__item-price {
    font-size: 1.3em;
    margin-right: 0px;
  }
}

/* tablet css */
@media only screen and (max-width: 768px) {
  .menu__link {
    width: 51px;
  }
  .schedule,
  .socialicons,
  .timer,
  .booking__image,
  .slider__image {
    display: none;
  }
  .form__container {
    width: 80%;
  }
  .booking__contacts {
    margin-top: 30px;
  }
  .slider__textbox {
    width: 100%;
    padding-right: 0px;
  }
  .foodmenu__dishes-item {
    width: 92px;
  }
  .private-events {
    background-color: black;
    background-position: bottom;
    padding: 40px 0px;
  }
  .private-events__image--weddings::after,
  .private-events__image--corporate::after {
    display: none;
  }
  .private-events__image--weddings,
  .private-events__image--corporate {
    background-size: contain;
    width: 300px;
    height: 300px;
  }
  .private-events__image-title {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: 0;
    top: 0;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: #E8C300;
    border-radius: 5px;
  }
  .private-events__contacts {
    line-height: 1.3em;
    padding: 0px 5px;
    letter-spacing: 0.1em;
  }
}

/* mobile css 600px  */
@media only screen and (max-width: 550px) {
  .menu,
  .timer,
  .schedule,
  .socialicons,
  .booking__image,
  .slider__image {
    display: none;
  }
  .header {
    min-height: 570px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 2em;
    padding: 0px;
  }
  .title {
    margin: 0px;
    padding: 40px 0px 0px 0px;
  }
  .heading {
    background: none;
  }
  .button {
    margin-bottom: 20px;
  }
  .linkdown {
    text-align: center;
    margin-top: 100px;
  }
  .title__buttons__container {
    margin-top: 80px;
  }
  .booking {
    padding: 40px 0px;
    min-height: 470px;
  }
  .form__container {
    width: auto;
    display: block;
  }
  .booking__form {
    min-width: auto;
    padding-top: 0px;
  }
  .add--right--margin {
    margin-right: 0px;
  }
  .booking__select {
    margin-bottom: 9px;
  }
  .button--submit {
    width: 218px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .booking__contacts {
    margin: 0 30px;
    line-height: 1.2em;
  }
  .specialties {
    min-width: auto;
    width: auto;
    min-height: 540px;
    padding: 0px 0px 40px 0px;
  }
  .slider__textbox {
    width: auto;
    padding: 0px 20px;
    margin-top: 0px;
  }
  .slider__text--bigger {
    font-size: 13px;
  }
  .slider__nav {
    margin-bottom: -100px;
  }
  .foodmenu {
    padding: 20px 20px;
  }
  .foodmenu__introtext {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2em;
  }
  .foodmenu__dishes-list {
    margin-top: 30px;
  }
  .foodmenu__dishes-item {
    width: auto;
    padding: 0px 1px 0px 1px;
    line-height: normal;
    height: auto;
    border: none;
  }
  .foodmenu__item {
    padding-bottom: 15px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .private-events {
    background-color: black;
    background-position: bottom;
    padding: 40px 0px;
  }
  .private-events__image--weddings::after,
  .private-events__image--corporate::after {
    display: none;
  }
  .private-events__image--weddings,
  .private-events__image--corporate {
    background-size: contain;
    width: 300px;
    height: 300px;
  }
  .private-events__image-title {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: 0;
    top: 0;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: #E8C300;
    border-radius: 5px;
  }
  .private-events__contacts {
    line-height: 1.3em;
    padding: 0px 5px;
    letter-spacing: 0.1em;
  }
}

@media only screen and (max-width: 280px) {
  .foodmenu__item-price {
    font-size: 1em;
  }
  .foodmenu__item-name {
    font-size: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */